.gallery-header {
    font-family: "Fredoka One", cursive;
    font-size: 2.4em;
    line-height: 1.3em;
    font-weight: 400;
    font-weight: 700;
    margin-bottom: 10px;
}

.pentagon-button {
    position: relative;
    padding: 1rem 2rem;
    background-color: #6B46C1;
    color: #ffffff;
    font-weight: bold;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.pentagon-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: #8B5CF6;
    opacity: 0.9;
    z-index: -1;
}